node_modules/
.env
.env.local
.env*.local

# hardhat
artifacts/
cache/
typechain-types/
coverage/
coverage.json
packages/contracts/deployments/testnet.pending.json
packages/contracts/deployments/testnet-tx.pending.json
packages/contracts/deployments/testnet-admin.lock
packages/contracts/deployments/testnet-seed.plan.json
packages/contracts/deployments/testnet-smoke.plan.json

# next.js
.next/
out/
build/

# turbo
.turbo/

# misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
